@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .placeholder-italic::placeholder {
    @apply italic;
  }
}

@font-face {
  font-family: "PorscheNext"; /* Custom name for the font */
  src: url("/assets/fonts/porsche-next.otf") format("truetype"); /* Path to the .ttf file */
  font-weight: normal; /* Optional */
  font-style: normal; /* Optional */
}
@font-face {
  font-family: "SignPainter"; /* Custom name for the font */
  src: url("/assets/fonts/signpainter_housescript.otf") format("truetype"); /* Path to the .ttf file */
  font-weight: normal; /* Optional */
  font-style: normal; /* Optional */
}
:root {
  --background-container: #e4e4e4;
  --background-component-container: #ffffff;
  --component-container-radius: 10px;
  --component-input-radius: 5px;
}
